*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

header{
    height: 70px;
    width: 100%;
    background-color:lightblue; 

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>*{
    padding: 5%;
}

.logo{
}

.hamburger{
}


/* MAIN */
.container{
    width: 100%;
    padding: 110px 30px 30px;
    background-color: red;
}

.box{
    width: 100%;
    aspect-ratio : 1 / 1;
    margin-bottom: 20px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 20px;
}

.box.big{
    aspect-ratio : 1 / 2;
    background-color: yellow;
}

@media screen and (min-width:568px){
    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 110px 5% 20px;
    }

    .box{
        width: calc(100% / 3 - 15px);
        aspect-ratio : 1 / 1.7;
    }

    .box.big{
        width: calc(( 100% / 3 ) * 2 - 5px);
        background-color: yellow;
        aspect-ratio : 1 / 1.2;
    }
}

@media screen and (min-width:1024px){
    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 110px 20% 20px;
    }

    .box{
        width: calc(100% / 3 - 15px);
        aspect-ratio : 1 / 1;
    }

    .box.big{
        width: calc(( 100% / 3 ) * 2 - 5px);
        background-color: yellow;
        aspect-ratio : 1 / 0.5;
    }
}