*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

header{
    height: 70px;
    width: 100%;
    background-color:lightblue; 

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>*{
    padding: 5%;
}

.logo{
}

.hamburger{
}


/* MAIN */
.container{
    min-height: 30px;
    width: 100%;
    margin-top: 70px;
    padding: 10px 0;
    background-color: red;

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    
    

}

.box{
    width: 80%;
    height: 0;
    padding-bottom: 100%;
    background-color: blue;

}

.box.big{
    width: 80%;
    height: 0;
    padding-bottom: 200%;
    background-color: yellow;
}

@media screen and (min-width:568px){
    
    .container{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .box{
        
    }
}