
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}



/* HEADER */
header{
    height: 70px;
    width: 100%;
}

header>div{
    height: 70px;
    width: 100%;
    background-color:#0084fd; 

    position: fixed;
    top: 0;
    z-index: 10;
}

.logo{
    position: absolute;
    transform: translate(0, -50%);
    z-index: 10;
    left: 10%;
    top: 50%;
}

.hamburger{
    position: absolute;
    transform: translate(-100%, -50%);
    z-index: 10;
    right: 10%;
    top: 50%;
}


/* MAIN */
.container{
    width: 100%;
    padding: 10% 5%;
}

.box{
    width: 100%;
    min-height: 50px;
    margin-bottom: 5%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}


.icon-box, .text-box, .img-box{
    width: 100%;
}

.violet{
    background-color: #9792e4;
}




/*  APPLICATION */

.application>.box{
    background-color: #b5ddff;
}


/* STRATEGIC-PLANNING */

.box-image{
    width: 100%;
}

.strategic-planning>.box.big{
    background-color: white;
}

/* TESTIMONIALS */



/* WORKING WITH US */








/* TABLET */

@media screen and (min-width:568px){

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*  APPLICATION */

    .application>.box{
        width: calc(100% / 3 - 15px);
    }

    .application>.box.big{
        width: calc(( 100% / 3 ) * 2 - 5px);
    }



    /* STRATEGIC-PLANNING */

    .strategic-planning>.box{
            width: 100%;
    }




    /* TESTIMONIALS */

    .container.testimonials{
        flex-direction: column;
    }


    .testimonials>.box{
            width: 100%;
            aspect-ratio: 3 / 1;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

    .profile-pic{
    width: calc( 100% / 3 );
    }

    .profile-desc{
        width: calc(( 100% / 3 ) * 2) ;
    }


    /* WORKING WITH US */
    
    .working-with-us>h2{
        width: 100%;
    }


    
    

        
}





/*  DESKTOP  */
@media screen and (min-width:1024px){


    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5% 20%;
    }


    .box{
        width: calc(100% / 3 - 15px);
    }


    .box.big{
        width: calc(( 100% / 3 ) * 2 - 5px);
    }
    
    /*  APPLICATION */

    /* STRATEGIC-PLANNING */
    
    
    .strategic-planning{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: nowrap;
        gap: 5%;
    }

    .strategic-planning>*{
            margin-bottom: 0;
    }
    
    .box-image{
        width: 35%;
        background-color: red;
    }
    
    .strategic-planning>.box{
        width: 35%;
    }

    /* TESTIMONIALS */

    /* WORKING WITH US */
    

    
    

    
    
    

    



}